.login {
  background-color: black;
  text-align: center;
}

.login > div {
  display: inline;
  color: white;
}

input {
  width: 100px;
  height: 20px;
}
.img {
  background-image: url(img/landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  margin: 5px;
}
.main-height {
  margin: 20px 0;
}
.jumbotron {
  margin-bottom: 0px !important;
}
input.search {
  height: 40px;
  width: 150px;
}
.header {
  color: white;
}
